<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./mainPage.css" />
    <title>ProPets</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <img src="./assets/Logo.svg" alt="logo" />
        <div class="singInButton"><div>Sing in</div></div>
      </div>
    </header>
    <section id="welcomePage">
      <div class="welcomText">
        Welcome to your <span>pawfessional</span> community
      </div>
      <img src="./assets/Image 2.png" alt="dog" />
      <div class="lostPet">
        <span class="lostPetText">I lost my pet!</span>
        <img src="./assets/loop.png" alt="loop" class="lostPetImg" />
      </div>
      <div class="findPet">
        <span class="findPetText">I found a pet!</span>
      </div>
      <div class="joinPet">
        I'm okay, just want to <span class="joinPetText">JOIN</span> the pawsome
        community!
      </div>
    </section>
    <section id="welcomeInfo">
      <div class="welcomeInfo">
        <div class="textInfo">
          Our fluffy space for lovers, admirers, dads and moms of our
          four-legged, winged, tailed guys.
        </div>
      </div>
    </section>
    <section id="aboutUsInfo">
      <img src="./assets/8347.png" alt="pets" class="aboutUsImg" />
      <div class="aboutUsInfoGroup">
        <h2>Here is collected everything that your pet needs:</h2>
        <div class="circle first"></div>
        <div class="circle second"></div>
        <div class="circle third"></div>
        <div class="circle fourth"></div>
        <div class="aboutUsInfoText">
          <p>professional veterinarian tips;</p>
          <p>
            useful information about education and care; fostering home search;
          </p>
          <p>information about pet-sitting and walking service;</p>
          <p>
            and of course, great communication with new friends in your social
            network!
          </p>
        </div>
      </div>
    </section>
    <section id="comingSoonInfo">
      <div class="comingSoonInfo">
        <div class="comingSoonLogo">Coming soon</div>
        <div class="comingSoonText">
          We are planing to open a new service, where your cats and dogs can
          find their love!
        </div>
      </div>
    </section>
    <footer>
      <div class="footer">
        <div class="fotterImg">
          <img src="./assets/Logo.svg" alt="logo" />
        </div>
        <div class="SMIcons"></div>
        <div class="SMText">
          1600 Amphitheatre Pkwy Mountain View, CA 94043, USA
        </div>
        <div class="firstCol">
          <ul>
            <li>Lost</li>
            <li>Found</li>
            <li>VetHelp</li>
          </ul>
        </div>
        <div class="secondCol">
          <ul>
            <li>Hotels</li>
            <li>Walking</li>
            <li>Fostering</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
